/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #95a5a6;
}

h1 {
  text-shadow: #95a5a6 0.0em 0.2em 0.2em;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* JUMBOTRON
-------------------------------------------------- */

.landing .jumbotron {
  text-align: center;
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #95a5a6;
  height: 1600px;
}
.landing .jumbotron .container {
  background-color: linear-gradient(to bottom right, rgba(41, 128, 185), rgba(142, 68, 173));
  font-size: 52px;
}


.landing .jumbotron h1 {
  font-size: 52px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.social .col-lg-4 {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.social h2 {
  font-weight: normal;
  color: #95a5a6;

}

.social p {
  font-weight: normal;
  color: #95a5a6;

}

.social .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.social {
  background-size: cover;
  background-repeat: no-repeat;
}

/* PROJECTS
------------------------- */

.projects h3 {
  color: #95a5a6;
  vertical-align: middle;
  font-size: 52px;
  text-shadow: #95a5a6 0em 0.2em 0.2em;
}


/* Footer
------------------------- */

.footer {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

}




/* RESPONSIVE CSS
-------------------------------------------------- */
