
{% extends "templates/base.html" %}
{% block content %}

<div class="container">

    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.1/tinycolor.js"></script>

    <script src="web/vis.js"></script>
    <script>
        main();
    </script>
    
</div>

        <div class="container">
          <h1>Final Project: Twitter API Case Study</h1>
        </div>

<div class="container" id="platform"></div>

<div class="container" id="service"></div>

<div class="container" id="barz"></div>



{% endblock %}
